.podcastItem{
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    max-height: 110px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
}

.podcastItem .thumb{
    max-height: 80px;
    max-width: 80px;
}

.podcastItem .podcast_title{
    color: #000;
    font-size: 12px;
}