@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.container .title{
    font-family: 'Lobster', sans-serif;
    font-size: 48px;
    color: #f62459;
    margin-top: 150px;
}

.container .subtitle{
    font-size: 24px;
    color: #ccc;
    margin-bottom: 15px;
}

.container img{
    margin-top: 25px;
    height: 350px;
}