.message-box{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
    padding: 15px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #18181b;
    animation: fade 0.3s;
}

.message{
    color: #F62459;
    text-align: center;
}

#cs_audio {
    display: none;
}

#cs_audioplayer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    background-color: #18181b;
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: #fff;
}

.cs_audio_bar {
    background-color: #000;
    width: 100%;
    height: 6px;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
}

.cs_audio_bar_loaded {
    background-color: #44363d;
    width: 0%;
    height: 6px;
    position: absolute;
    transition: 0.1s;
}
.cs_audio_bar_now {
    background-color: #F62459;
    width: 0%;
    height: 6px;
    position: absolute;
    z-index: 999;
    transition: 0.1s;
}
#cs_play_pause_btn {
    margin-left: 95px;
}

#cs_play_pause_btn i{
    font-size: 1.45em;position: relative; cursor: pointer; vertical-align: middle;
    margin-bottom: 4px;
}

.podcastItem{
    margin: 5px;
}


@keyframes fade{
    from{
        transform: translateY(-30px)
    }
    to{
        transform: translateY(0)
    }
}



