/* 

.message-box{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
    padding: 15px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #18181b;
    animation: fade 0.3s;
}

.message{
    color: var(--main-color);
    text-align: center;
}
 */


/* @keyframes fade{
    from{
        transform: translateY(-30px)
    }
    to{
        transform: translateY(0)
    }
} */



